header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 12rem;
  background-color: $purple;
  display: flex;

  .container {
    @include flex(row, center, space-between);
  }

  nav {
    ul {
      @include flex(row, center, flex-start);
      li {
        &:not(:first-child) {
          margin-left: 5.6rem;
        }

        a {
          @include flex(row, center, flex-start);
          gap: 1.6rem;

          span {
            font-size: 1.6rem;
            line-height: 2rem;
            color: #fcfcfc;
          }
        }
      }
    }
  }

  // Media Queries
  @include responsive(60rem) {
    nav {
      display: none;
    }
  }

  @include responsive(48rem) {
    height: 8rem;

    .logo {
      max-width: 140px;
    }
  }
}
